<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="_appUser.loggedIn; else second">Hello, {{_appUser.userInfo.user.firstName}}</ion-title>
      <ng-template #second>
        <ng-container *ngIf="_appUser.newUser; else notLoggedIn"> Hello, {{_appUser.userFirstName}}</ng-container>
        <ng-template #notLoggedIn> Menu </ng-template>
      </ng-template> 
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button  menuClose ion-item (click)="showConfirm(user)" >Sign Out</button>  
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>